.App{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-direction: column;
}
.animation{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}